#.gitignore

.idea/
.ropeproject/
.vscode/

.pytest_cache/
.ruff_cache/

__pycache__/
*.py[cod]
*$py.class
*~

venv/
.venv/
.python-version
.coverage
.env
.env.docker

.opencode/package-lock.json

.DS_Store

**/node_modules/
**/dist/
**/.vite/
