#.gitignore

.idea/
.ropeproject/
.vscode/
.zed/

.pytest_cache/
.ruff_cache/

__pycache__/
*.py[cod]
*$py.class
*~

venv/
.venv/
.python-version
.coverage
.env

.opencode/package-lock.json

**/node_modules/
**/dist/
**/.vite/
