[Unit]
Description=Logstash for Demetra log aggregation
After=network.target elasticsearch.service
Requires=elasticsearch.service

[Service]
Type=simple
User=logstash
Group=logstash
Restart=always
RestartSec=10
ExecStart=/usr/share/logstash/bin/logstash "--path.config" "/etc/logstash/conf.d/" "--path.data" "/var/lib/logstash" "--path.logs" "/var/log/logstash" "--path.settings" "/etc/logstash"
StandardOutput=journal
StandardError=journal
KillSignal=SIGTERM
TimeoutStopSec=60

[Install]
WantedBy=multi-user.target
