[Unit]
Description=Demetra API
After=network.target

[Service]
Type=simple
User=manti
Group=manti
Restart=always
WorkingDirectory=/home/manti/www/demetra
EnvironmentFile=/home/manti/www/demetra/.env
ExecStart=/home/manti/www/demetra/.venv/bin/uvicorn demetra.api:app --port 8001 --workers 2
StandardOutput=file:/var/log/demetra/api-stdout.log
StandardError=file:/var/log/demetra/api-stderr.log
KillSignal=SIGINT
TimeoutStopSec=30
RestartSec=10

[Install]
WantedBy=multi-user.target
