[Unit]
Description=Demetra GitHub Notification Listener
After=network.target

[Service]
Type=simple
User=manti
Group=manti
Restart=always
WorkingDirectory=/home/manti/www/demetra
EnvironmentFile=/home/manti/www/demetra/.env
ExecStart=/home/manti/www/demetra/.venv/bin/python -m demetra.listener
StandardOutput=file:/var/log/demetra/listener-stdout.log
StandardError=file:/var/log/demetra/listener-stderr.log
KillSignal=SIGINT
TimeoutStopSec=30
RestartSec=10

[Install]
WantedBy=multi-user.target
