[Unit]
Description=Demetra RQ dashboard
After=network.target

[Service]
Type=simple
User=manti
Group=manti
Restart=always
WorkingDirectory=/home/manti/www/demetra
EnvironmentFile=/home/manti/www/demetra/.env
ExecStart=/home/manti/www/demetra/.venv/bin/rq-dashboard --redis-url redis://localhost:6379/1
StandardOutput=file:/var/log/demetra/rq-dashboard-stdout.log
StandardError=file:/var/log/demetra/rq-dashboard-stderr.log
KillSignal=SIGINT
TimeoutStopSec=30
RestartSec=10

[Install]
WantedBy=multi-user.target
